.search-bar-element{
    height: 44px;
    width: 360px;
    background: transparent;
    margin:6px;
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-left: 36px;
}
.search-bar-element input{
    height: inherit;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 24px 0 0 24px;
    padding-left: 56px;
    color: grey;
    
}
.search-bar-element button{
    height: inherit;
    width: 20%;
    border: none;
    outline: none;
    background: rgb(123, 124, 192) ;
    border-radius: 0 24px 24px 0;
}
.search-bar-results-parent{
    width: 100vw;
    height: auto;
    margin: 24px 0 0 0;
    background:transparent;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.search-results-cards{
    height: 320px;
    width: 240px;
    background:transparent;
    border-radius: 24px 24px 0 0;
    margin: 8px 0px 8px 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.search-results-cards-data{
    height: 240px;
    width: inherit;
    border-radius: 24px 24px 0 0;
    background: rgb(255, 255, 255 , .2);
    backdrop-filter: blur(10px);
    transform: translateY(900px);
    animation: Downtrod 2000ms forwards;
    padding: 24px;
    text-overflow: ellipsis;
    color: aliceblue;
    overflow: hidden;
}
.search-results-cards-data article{
    font-size: 12pt;
    font-weight: 300;
    color: rgb(148, 132, 218);
    margin: 2px 0 2px 0;
    overflow-wrap: break-word;
    color: rgb(48, 50, 51);
}
.search-results-cards:hover .search-results-cards-data{
    animation: Uplift 1500ms forwards;
}
@keyframes Uplift {
    to{
        transform: translateY(80px);
    }
}
@keyframes Downtrod{
    from{
        transform: translateY(80px);
    }
    to{
        transform:translateY(900px)
    }
}